{% extends "base.html" %}

{% block title %}Home | IVA{% endblock %}

{% block content %}
<h2 class="text-xl text-center font-semibold mb-4">Welcome to the Illinois Vitality Archive!</h2>

<div class="grid md:grid-cols-3 gap-6">
    <a href="{% url 'search_birth_records' %}" class="p-6 bg-white rounded shadow">
        Birth Records
    </a>

    <a href="{% url 'search_death_records' %}" class="p-6 bg-white rounded shadow">
        Death Records
    </a>

    <a href="{% url 'search_marriage_records' %}" class="p-6 bg-white rounded shadow">
        Marriage Records
    </a>
</div>
{% endblock %}