{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center mb-6 font-semibold">
    <a href="{% url 'search_birth_records' %}" class="text-forest-green px-6 py-3 hover:text-green-700 transition">
        BIRTH RECORDS
    </a>
    <a href="{% url 'search_death_records' %}" class="text-forest-green px-6 py-3 hover:text-green-700 transition">
        DEATH RECORDS
    </a>
    <a href="#" class="bg-forest-green text-white px-6 py-3 rounded-r-full">
        MARRIAGE RECORDS
    </a>
</div>

<form hx-get="{% url 'search_marriage_records' %}" hx-target="#search-results" hx-swap="innerHTML">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-3 mb-6">
        <div>
            <label for="spouse1_last_name" class="block text-forest-green font-bold mb-2">
                Spouse 1's Last Name
            </label>
            <input type="text" id="spouse1_last_name" name="spouse1_last_name"
                class="w-full border-2 border-gray-300 rounded-md p-1.5 focus:outline-none focus:border-forest-green transition">
        </div>

        <div>
            <label for="spouse2_last_name" class="block text-forest-green font-bold mb-2">
                Spouse 2's Last Name
            </label>
            <input type="text" id="spouse2_last_name" name="spouse2_last_name" 
            class="w-full border-2 border-gray-300 rounded-md p-1.5 focus:outline-none focus:border-forest-green transition">
        </div>

        <div>
            <label for="spouse1_first_name" class="block text-forest-green font-bold mb-2">
                Spouse 1's First Name
            </label>
            <input type="text" id="spouse1_first_name" name="spouse1_first_name" 
            class="w-full border-2 border-gray-300 rounded-md p-1.5 focus:outline-none focus:border-forest-green transition">
        </div>

        <div>
            <label for="spouse2_first_name" class="block text-forest-green font-bold mb-2">
                Spouse 2's First Name
            </label>
            <input type="text" id="spouse2_first_name" name="spouse2_first_name" 
            class="w-full border-2 border-gray-300 rounded-md p-1.5 focus:outline-none focus:border-forest-green transition">
        </div>

        <div>
            <label for="spouse1_middle_name" class="block text-forest-green font-bold mb-2">
                Spouse 1's Middle Name
            </label>
            <input type="text" id="spouse1_middle_name" name="spouse1_middle_name" 
            class="w-full border-2 border-gray-300 rounded-md p-1.5 focus:outline-none focus:border-forest-green transition">
        </div>

        <div>
            <label for="spouse2_middle_name" class="block text-forest-green font-bold mb-2">
                Spouse 2's Middle Name
            </label>
            <input type="text" id="spouse2_middle_name" name="spouse2_middle_name" 
            class="w-full border-2 border-gray-300 rounded-md p-1.5 focus:outline-none focus:border-forest-green">
        </div>
        
        <div class="grid grid-cols-2">
            <div>
                <label for="marriage_year" class="block text-forest-green font-bold mb-2">
                    Year of Marriage
                </label>
                <input type="text" id="marriage_year" name="marriage_year" 
                class="w-full border-2 border-gray-300 rounded-md p-1.5 focus:outline-none focus:border-forest-green transition">
            </div>
            <div>
                <label for="variance" class="block text-forest-green font-bold mb-2">
                    +/-
                </label>
                <select id="variance" name="variance" 
                class="w-full bg-white border-2 border-gray-300 rounded-md p-1.5 focus:outline-none focus:border-forest-green transition">
                    <option value="exact">Exact</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

        <div>
            <label for="county_name" class="block text-forest-green font-bold mb-2">
                County
            </label>
            <select id="county_name" name="county_name"
            class="w-full bg-white border-2 border-gray-300 rounded-md p-1.5 focus:outline-none focus:border-forest-green transition">
                <option value="">All</option>
                {% for c in counties %}
                    <option value="{{c.county_name}}">{{c.county_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="flex justify-center">
        <button type="submit"
        class="bg-forest-green text-white px-16 py-4 rounded-full font-bold uppercase tracking-widest hover:bg-[#0d4a46] transition">
            SEARCH
        </button>
    </div>
</form>

<div id="search-results" class="mt-12"></div>
<div id="modal-container"></div>
{% endblock %}